@import './mixin';

// @TODO: 지정된 style 제거 후 디자인으로 생성 필요
.header {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;

  background: #5f4b66;
  color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 80px);
  color: #fff;

  // @TODO: 반응형은 이렇게. 이후 제거 필요
  @include mobile {
    background: #c65063;
  }

  @include tablet {
    background: #4d5fc6;
  }

  @include desktop {
    background: #a7adc6;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  background: #8797af;
  color: #fff;
}
